body {
    background-color: #2B2D2F;
}

.header {
    top: 25px;
    left: 45px;
    width: 1276px;
    height: 100px;
    background: var(--unnamed-color-2b2d2f) 0 0% no-repeat padding-box;
    opacity: 1;
}

.search{
    top: 40px;
    left: 87px;
    width: 359px;
    height: 60px;
    opacity: 1;
}

.datePicker{
    top: 40px;
    left: 482px;
    width: 216px;
    height: 60px;
    opacity: 1;
}