.smallEvent{
    display: flex;
    justify-content: space-between;
    top: 149px;
    left: 45px;
    width: 1276px;
    height: 200px;
    background: var(--unnamed-color-f8f8f8) 0 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.image{
    top: 149px;
    left: 45px;
    width: 200px;
    height: 200px;
    background: transparent url('https://mdbootstrap.com/img/new/standard/nature/184.jpg') 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.card-title{
    top: 163px;
    left: 289px;
    width: 483px;
    height: 66px;
    text-align: left;
    font: normal normal 900 24px/31px Merriweather;
    letter-spacing: 0;
    color: #2B2D2F;
    opacity: 1;
}